:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 99px;
  font-family: inherit;
  background-color: #fbfbfb;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: calc(100vh - 64px);
}

#app {
  font-family: 'Arial', sans-serif;
}